Mysql:
  Host: 127.0.0.1
  Port: 3306
  Username: root
  Password: Erinyes@2024
  DBName: erinyes_mine
  MaxOpenConns: 100
  MaxIdleConns: 10
Service:
  Port: ":8080"
IPMap:
<IPMAP>
GatewayMap:
<GATEWAYMAP>
HostIP: 10.0.88.125
Cin0IP: 10.10.0.1